<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
<div id="header"><h2>List of Products</h2></div>
<table class="datatable" border="1">
    <tr>
        <th>Product Number</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>

    </tr>
    <tr th:each="product : ${productList}">
        <td th:text="${product.prNumber}">Product Number</td>
        <td th:text="${product.name}">Name</td>
        <td th:text="${product.price}">Price</td>
        <td>
            <form action="removeproduct" method="post">
                <button type="submit" name="prNumber" th:value="${product.prNumber}">Remove product</button>
            </form>
            <form action="addcart" method="post">
                <button type="submit" name="prNumber" th:value="${product.prNumber}">Add to cart</button>
            </form>
        </td>
    </tr>
</table>
<br/>
<form action="addproductpage" method="get">
    <button type="submit">Add Product</button>
</form>
</body>
</html>